@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* Custom Design Tokens */
:root {
  --background: #EAF4F6;
  --foreground: #355C7D;
  --secondary-text: #5D738D;

  --accent-blue: #5B9FCB;
  --accent-softblue: #A3CEDF;
  --accent-aqua: #91D0CA;
  --accent-seaglass: #C8E3DC;
  --accent-hover: #498AB0;

  --font-sans: "Lato", sans-serif;
}

/* Optional Dark Theme Tokens */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Base Layout */
html,
body {
  height: 100%;
  overflow-y: auto;
  font-family: var(--font-sans);
  background: var(--background);
  color: var(--foreground);
}

/* Text selection styling */
::selection {
  background-color: #b3d4fc;
  color: #000;
}

.ProseMirror ::selection {
  background-color: #b3d4fc;
  color: #000;
}

